# Frontend Environment Variables Template
# Copy this file to '.env' inside the root directory for local customization

# 1. Backend API Endpoint
VITE_API_URL=http://localhost:5000

# 2. Google OAuth client ID
VITE_GOOGLE_CLIENT_ID=714098016603-vmaj4k1gv1cjq1pnrtul4mbkk2b0icst.apps.googleusercontent.com
